@use '../vars' as *;
@use '../functions' as *;

@each $i in 0.1s, 0.2s, 0.3s, 0.4s, 0.5s, 0.6s, 0.7s, 0.8s, 0.9s {
  $classI: str-replace("#{$i}", "0.", "");
  $classI: str-replace($classI, "s", "");
  .trans-#{$classI} {
    transition: #{$i};
  }
}
